.field {
    border: none;
    outline: none;
    position: relative;
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
}

.field select {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;
    border-bottom: solid 1px #efefef;
}
